# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [1]:
(10**2) + (50/2) - 25 + (1*0.25)

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [4]:
# Usando exponente
print(100**0.5)
# Con libreria
import math
print(math.sqrt(100))

10.0
10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [5]:
100**2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [8]:
s = 'hello'

In [9]:
print(s[1])

e

In [10]:
print(s[::-1])

olleh

In [11]:
print(s[4])
print(s[-1])

o
o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [12]:
lista1 = [0, 0, 0]
print(lista1)

[0, 0, 0]

In [13]:
lista2 = [0] * 3
print(lista2)

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [16]:
lista = [1,2,[3,4,'hello']]

In [17]:
lista[2][2] = "goodbye"
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [18]:
listaSinOrdenar = [5,3,4,6,1]

In [19]:
listaSinOrdenar.sort()
print(listaSinOrdenar)

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [20]:
f = {'k1':{'k2':'hello'}}

In [23]:
print(f['k1']['k2'])

hello

In [24]:
d = {'key1':'hello'}

In [25]:
print(d['key1'])

hello

In [26]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [27]:
print(g['k1'][0]['o1'][1][0])

hello

In [28]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [29]:
print(h['k1'][2]['k2'][1]['dificil'][2][0])

hello

#### 9.- Crea una tupla (1 pto)

In [30]:
mi_tupla = (1, 2, 3, 4, 5)
print(mi_tupla)

(1, 2, 3, 4, 5)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [31]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [35]:
valoresUnicos = set(listaDuplicada)
valoresUnicosOrdenados = sorted(valoresUnicos)
print(valoresUnicosOrdenados)

[1, 2, 3, 4, 11, 22, 33]

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [36]:
# 2 mayor que 3
2 > 3

False

In [38]:
# 3 igual que 2
3 == 2

False

In [39]:
# raíz cuadrada de 4 no es igual a 2
4**0.5 != 2

False

In [40]:
# se cumple si 6 es mayor que 5 y 7 menor de 8
6 > 5 and 7 < 8

True

In [41]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [42]:
len(nombre) == len(colores) or len(nombre) < 7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [54]:
filas = [
    ["Jone", "Gonzalez Intx", "21", "txne"],
    ["Maider", "Arizaleta Goñi", "20", "Libe"],
    ["Saioa", "Borda Espelo", "22", "Mimi"],
    ["Amaia", "Etxebe Ozko", "23", "Cat"]
]
with open("tabla-nombres.txt", "w", encoding="utf-8") as archivo:
    for fila in filas:
        archivo.write("\t".join(fila) + "\n")
for fila in filas:
    print("\t".join(fila))

Jone	Gonzalez Intx	21	txne
Maider	Arizaleta Goñi	20	Libe
Saioa	Borda Espelo	22	Mimi
Amaia	Etxebe Ozko	23	Cat

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [55]:
diccionario = {
    "Rattus": ["nivergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}
lista_keys = list(diccionario.keys())
print("Lista de keys:", lista_keys)
diccionario["Felis"] = ["cactus"]
diccionario["canis"] = ["lupus", "familiaris"]
set_keys = set(diccionario.keys())
print("Set de keys:", set_keys)

Lista de keys: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']
Set de keys: {'canis', 'Opuntia', 'Felis', 'Rattus', 'Glaucidium', 'Echinocactus'}